.title{
    text-align: center;
    font-size: 3rem;
}
.cart-list{
    border: solid 1px black;  
    width: 70%;
    margin: 15px auto;
    text-align: center;
  }
  
  .cart-list-row{
    line-height: 56px;
    border: solid 1px black;
  }
  .total{
    text-align: center;
  }
  