ul {
	list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

.navBar{
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: gray;
  height: 100px;
  align-items: center;
}

.navList{
  display: flex;
  flex-direction: row;
}

.navItem{
  padding: 0 20px;
}

.navBrand {
  font-size: 3rem;
}
.navListItem{
  padding: 0 20px;
}